header {
  background-color: var(--backgrond-tertiary-color);
  display: flex; /* Ativa o flexbox no container */
  flex-direction: row; /* Coloca os itens em linha (lado a lado) */
  justify-content: space-between; /* Espalha os itens: 1º na esquerda, último na direita e espaço igual entre eles */
  align-items: flex-start; /* flex-start = alinha todos os itens do flexbox 
   no topo (início) do eixo vertical */
  padding: 38px 48px;
  position: relative; /* relative: mantém posição normal, mas permite mover com top/left 
   e serve de referência para elementos absolute. */
}

.logo {
  display: inline-block; /*o elemento fica em linha como um texto, mas ainda permite definir largura, altura, margin e padding, diferente do inline comum */
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 24px;
}

/* Quando o checkbox estiver marcado (:checked),
   o nav que vem depois dele (~) muda para display: block,
   fazendo o menu aparecer */
input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute; /* absolute = sai do fluxo da página (não ocupa espaço)
   e é posicionado usando top/left/etc em relação ao elemento pai "relative". */
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--backgrond-tertiary-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
  font-weight: var(--menu-text-weight);
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

/* @media (min-width: 768px) = aplica o CSS só quando a tela
   tiver 768px ou mais (layouts para telas maiores). */
@media screen and (min-width: 768px) {

  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }
  .navigation-menu label {
    display: none;
  }

    .navigation-menu nav {
    display: block;
  }
}
  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

.navigation-menu li {
  margin: 0;
}
